.btn-primary {
    background: #00b1f5;
    border-color: #00b1f5;
}

.contacts-row {
    background: #f6fbfe;
    padding: 0.8em 0;
}

.contacts-row ul {
    padding-left: 0;
    margin-bottom: 0;
}

.contacts-row li {
    display: inline;
}

.contacts-row li a {
    color: #001446;
    text-decoration: underline;
    font-size: 0.75em;
    text-transform: capitalize;
}

.contacts-row .row > div:first-child > ul > li {
    margin-right: 1em;
}

.contacts-row .row > div:last-child > ul > li {
    margin-left: 1em;
}

.contacts-row .language-dropdown a {
    text-decoration: none;
}

.contacts-row .language-dropdown .fa-caret-down {
    color: #00b1f5;
}

.contacts-row .language-dropdown {
    position: relative;
}

.contacts-row .language-dropdown:hover > ul {
    display: block;
    text-align: center;
}

.contacts-row .language-dropdown > ul {
    position: absolute;
    padding: 1em;
    background: #f6fbfe;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    display: none;
}

.logo-row {
    padding: 2em 0;
}

.logo-row .contacts-info-col .pre-info {
    color: #00b1f5;
    font-weight: bold;
    font-size: 0.75em;
    margin-bottom: 0;
}

.logo-row .contacts-info-col .contact-info a {
    color: #001446;
    text-decoration: none;
}

.logo-row .contacts-info-col .contact-info.email a {
    text-decoration: underline;
}

.logo-row .contacts-info-col .quatation-button {
    font-weight: bold;
    font-size: 1.05em;
}

.logo-row .contacts-info-col .quatation-button .fa-file {
    margin-right: 3px;
}
