.btn-primary {
    background: #00b1f5;
    border-color: #00b1f5;
}

.btn-secondary {
    background: #08237e;
    border-color: #08237e;
}

.contacts-row {
    background: #f6fbfe;
    padding: 0.8em 0;
}

.contacts-row ul {
    padding-left: 0;
    margin-bottom: 0;
}

.contacts-row li {
    display: inline;
}

.contacts-row li a {
    color: #001446;
    text-decoration: underline;
    font-size: 0.75em;
    text-transform: capitalize;
}

.contacts-row .row > div:first-child > ul > li {
    margin-right: 1em;
}

.contacts-row .row > div:last-child > ul > li {
    margin-left: 1em;
}

.contacts-row .language-dropdown a {
    text-decoration: none;
}

.contacts-row .language-dropdown .fa-caret-down {
    color: #00b1f5;
}

.contacts-row .language-dropdown {
    position: relative;
}

.contacts-row .language-dropdown:hover > ul {
    display: block;
    text-align: center;
}

.contacts-row .language-dropdown > ul {
    position: absolute;
    padding: 1em;
    background: #f6fbfe;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    display: none;
}

.logo-row {
    padding: 2em 0;
}

.logo-row .contacts-info-col .pre-info {
    color: #00b1f5;
    font-weight: bold;
    font-size: 0.75em;
    margin-bottom: 0;
}

.logo-row .contacts-info-col .contact-info {
    margin-bottom: 0;
}

.logo-row .contacts-info-col .contact-info a {
    color: #001446;
    text-decoration: none;
}

.logo-row .contacts-info-col .contact-info.email a {
    text-decoration: underline;
}

.logo-row .contacts-info-col .quatation-button {
    font-weight: bold;
    font-size: 0.9em;
}

.logo-row .contacts-info-col .quatation-button .fa-file {
    margin-right: 3px;
}

nav {
    background: #08237e;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em;
    display: inline-block;
    transition: 0.3s all;
}

nav ul li a:hover {
    text-decoration: none;
    color: white;
    background: #00b1f5;
}

nav ul li a.active {
    background: #00b1f5;
}

nav form .form-group {
    margin-bottom: 0;
    position: relative;
}

nav form .form-control {
    background: #001446;
    border: none;
    border-radius: 0;
    padding: 1em 2em;
    display: block;
    height: 100%;
}

nav form .form-control::placeholder {
    color: white;
}

nav form .form-control:focus {
    background: #001446;
    color: white;
}

nav form .search-button {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    transition: 0.3s all;
}

nav form .search-button:hover {
    color: #00b1f5;
}

#mainPageCarousel {
    height: 70vh;
    min-height: 500px;
    background: black;
}

#mainPageCarousel .carousel-inner,
#mainPageCarousel .carousel-item,
#mainPageCarousel .carousel-item img {
    height: 100%;
}

#mainPageCarousel .carousel-item img {
    object-fit: cover;
    opacity: 0.6;
}

#mainPageCarousel span[class*="carousel-control"] {
    background: none;
    font-size: 1.5em;
}

#mainPageCarousel .carousel-caption {
    text-align: left;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    border-left: 2px solid #00b1f5;
    padding-left: 2em;
}

#mainPageCarousel .carousel-caption h5 {
    font-size: 2em;
    margin-bottom: 0;
}

#mainPageCarousel .carousel-caption h4 {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

#mainPageCarousel .carousel-caption a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

.section {
    padding: 7em 0;
}

.info-block p.leading-text {
    color: #00b1f5;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
}

.info-block h4 {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.3em;
    color: #06114f;
}

.info-block .info-text {
    font-size: 1.1em;
    line-height: 1.75em;
    opacity: 0.9;
}

.info-block .btn {
    margin-right: 1em;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.6em 1.5em;
}

.info-block .btn.quatation-button .fa-file {
    margin-right: 3px;
}

.about-us {
    background: #f6fbfe;
}

.about-us .fas,
.about-us .far {
    font-size: 2.7em;
    color: #00b1f5;
}

.about-us h3 {
    font-weight: bold;
    color: #001446;
    margin: 0 0 0.8em;
}

.about-us p {
    line-height: 1.75em;
}

.about-us a {
    color: #00b1f5;
    text-decoration: underline;
    font-weight: bold;
    font-size: 0.9em;
}

.general-section h3 {
    font-weight: bold;
    color: #00154f;
    font-size: 2.5em;
}

.general-section .container > .row:first-child {
    text-align: center;
}

.general-section .divider {
    margin: 1.5em 0;
}

.services .services-blocks {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.services .services-blocks > div img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.5s all;
}

.services .services-blocks > div {
    position: relative;
    padding: 1px;
    overflow: hidden;
}

.services .services-blocks > div .overlay {
    background: #08237e;
    position: absolute;
    left: 1px;
    top: 0;
    right: 1px;
    bottom: 0;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.5s all;
}

.services .services-blocks > div .overlay h4 {
    font-weight: bold;
    margin-bottom: 0.9em;
}

.services .services-blocks > div .overlay .fas,
.services .services-blocks > div .overlay .far {
    font-size: 2em;
    margin-bottom: 1em;
    color: #00b1f5;
}

.services .services-blocks > div:hover .overlay {
    opacity: 0;
}

.services .services-blocks > div:hover img {
    transform: scale(1.1);
}

.services .services-blocks > div:hover:after {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Font Awesome 5 Free";
    content: "\f00e";
    font-size: 2em;
    color: white;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 1px;
    left: 1px;
    bottom: 0;
}

.services .arrows {
    text-align: center;
}

.services .arrows a {
    font-size: 1.5em;
    color: #08237e;
    margin: 0 5px;
}

.section.with-backgroud-image {
    text-align: center;
    color: white;
}

.section.with-backgroud-image h4 {
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 300;
}

.section.with-backgroud-image h3 {
    font-size: 3.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.section.with-backgroud-image p {
    margin: 1em 0 2em;
}

.help-manage-changes {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("../images/pexels-photo-450035.jpeg");
    background-position: center;
    background-size: cover;
}

.recent-cases {
    background: #08237e;
}

.recent-cases .container > .row > div:first-child,
.recent-cases .container > .row > div:first-child a {
    color: white;
}

.recent-cases h3 {
    font-weight: bold;
    font-size: 2.5em;
}

.recent-cases .divider {
    margin: 1em 0;
}

.recent-cases .slider {
    background: white;
    height: 300px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25);
}

.recent-cases .slider img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.recent-cases .info-col {
    padding: 2em 1em;
}

.recent-cases .info-col h5 {
    font-size: 1.25em;
    margin-bottom: 0.8em;
}

.recent-cases .info-col .leading-text {
    color: #00b1f5;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}

.recent-cases .info-col a {
    color: #00b1f5;
    text-decoration: underline;
    font-weight: bold;
}

.recent-cases .info-col a i {
    text-decoration: underline;
}
